volumes:
  ojster:
    name: "ojster"
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: noexec,uid=64646,gid=64646,mode=755

secrets:
  private_key:
    file: ./ojster_priv.key

services:

  # Ojster server: only a single instance required
  ojster:
    container_name: ojster_server
    image: ojster/ojster
    init: true                        # Run tini as PID 1
    user: 64646:64646                 # Run as non-root
    cap_drop:
      - ALL                           # Least privilege
    security_opt:
      - no-new-privileges=true        # Block priv-esc through suid/sgid
    read_only: true                   # Immutable rootfs
    tmpfs:                            # RAM-backed temporary workdir
      - /tmp:noexec                   # No execute permission
    volumes:                          # Mount ipc volume
      - ojster:/mnt/ojster:noexec
    secrets:
      - private_key                   # Mount private key
    command: ["serve"]
    network_mode: none                # Run without network stack
