# Ojster network: recommended 1 dedicated network per client
networks:
  ojster-bash:
    internal: true                # No internet, no public DNS

secrets:
  private_key:
    file: ./.env.keys

services:

  # Ojster server: only a single instance required
  ojster:
    container_name: ojster_server
    image: dotenv/dotenvx         # Dotenvx image as base
    init: true                    # Run tini as PID 1
    user: 64646:64646             # Run as non-root
    cap_drop:
      - ALL                       # Least privilege
    security_opt:
      - no-new-privileges=true    # Block priv-esc through suid/sgid
    read_only: true               # Immutable rootfs
    tmpfs:                        # RAM-backed temporary workdir
      - /tmp:noexec               # No execute permission
    volumes:                      # Mount ojster binary and private key
      - ./bin/ojster:/ojster:ro
    secrets:
      - private_key
    entrypoint:
      - /ojster                   # Run ojster instead of dotenvx
      - serve
    networks:
      - ojster-bash

  # Example ojster client: integrate as many containers as you like
  client:
    container_name: ojster_example_client
    image: bash                   # Example image
    env_file:
      - path: .env                # Pass all vars from .env into container environment
        required: false
    environment:
      - EX_NEW_NAME=${EXAMPLE1-}  # And/or pass specific var from .env into container (allows renaming)
    
    ###########################################
    ######## START OJSTER INTEGRATION #########
    ### add these 7 lines to your container ###

    init: true                    # Prepend docker-init binary before entrypoint
    volumes:                      # Override the docker-init binary with with ojster
      - ./bin/ojster:/sbin/docker-init:ro
    networks:                     # Allow communication with ojster server
      - ojster-bash
    depends_on:                   # Start ojster server before this container
      - ojster

    ###########################################  
    ########## END OJSTER INTEGRATION #########
    ###########################################

    command:
      - -c
      - |
        echo
        env | grep EX
        echo
        echo 'This is an example.'
        echo 'You should NOT actually log decrypted values!'

    user: 64123:64123             # Default recommended hardening
    cap_drop:
      - ALL
    security_opt:
      - no-new-privileges=true
    read_only: true