# Run as uid/gid 64646 by default, override via env var
# Server needs to run with permission to the private key
x-oj-user: &oj_user "${PUID:-64646}:${PGID:-64646}"
x-oj-o: &oj_o "noexec,uid=${PUID:-64646},gid=${PGID:-64646},mode=755"

volumes:
  ojster:
    name: "ojster"
    driver: local
    driver_opts:
      type: tmpfs
      device: tmpfs
      o: *oj_o

secrets:
  private_key:
    file: ./ojster_priv.key

services:

  # Ojster server: only a single instance required
  ojster:
    container_name: ojster_server
    image: ojster/ojster
    restart: unless-stopped
    init: true                        # Run tini as PID 1
    user: *oj_user                    # Run as non-root
    cap_drop:
      - ALL                           # Least privilege
    security_opt:
      - no-new-privileges=true        # Block priv-esc through suid/sgid
    read_only: true                   # Immutable rootfs
    tmpfs:                            # RAM-backed temporary workdir
      - /tmp:noexec                   # No execute permission
    volumes:                          # Mount ipc volume
      - ojster:/mnt/ojster:noexec
    secrets:
      - private_key                   # Mount private key
    command: ["serve"]
    network_mode: none                # Run without network stack
